In [52]:
import pandas as pd 
import numpy as np
import os.path

In [53]:
sheet_name=["Gold Futures Historical Data", "XAU USD Gold Spot US Dollar", 'US Dollar Index Futures' , "S&P index", "USD CNY", "FDR", "Crude Oil Price"]

In [43]:

df = pd.read_excel(r"C:\Users\USER\Python Programme\uni\fe_assignment\Gold Futures Historical Data.xlsx", sheet_name=sheet_name, index_col=0, parse_dates=True)
df_future, df_spot, df_dollar, df_market_index, df_exchange, df_fdr, df_oil = df['Gold Futures Historical Data'], df['XAU USD Gold Spot US Dollar'], df['US Dollar Index Futures'], df['S&P index'], df['USD CNY'], df['FDR'], df['Crude Oil Price']

In [44]:
dfs = [df_future, df_spot, df_dollar, df_market_index, df_exchange, df_fdr, df_oil]
keys = ["future", "spot", "dollar", "market", "exchange" ,"fdr", "oil"]
appended_keys = [""]
df_merge = pd.DataFrame()
for df, key in zip(dfs, keys):
    appended_keys.append(key)
    df_merge = df_merge.merge(df, left_index=True, right_index=True, how="outer")
df_merge

C:\Users\USER\AppData\Local\Temp\ipykernel_16656\3559637827.py:7: FutureWarning: Passing 'suffixes' which cause duplicate columns {'High_x', 'Low_x', 'Change %_x', 'Price_x', 'Open_x'} in the result is deprecated and will raise a MergeError in a future version.
  df_merge = df_merge.merge(df, left_index=True, right_index=True, how="outer")
C:\Users\USER\AppData\Local\Temp\ipykernel_16656\3559637827.py:7: FutureWarning: Passing 'suffixes' which cause duplicate columns {'High_x', 'Low_x', 'Change %_x', 'Price_x', 'Open_x'} in the result is deprecated and will raise a MergeError in a future version.
  df_merge = df_merge.merge(df, left_index=True, right_index=True, how="outer")

,Price_x,Open_x,High_x,Low_x,Change %_x,High - Low($),Price_y,Open_y,High_y,Low_y,...,Open_x,High_x,Low_x,Change %_x,value,Price_y,Open_y,High_y,Low_y,Change %_y
2000-01-18,289.6,286.1,289.80,285.90,0.0165,3.9,288.65,285.55,288.65,288.65,...,8.2793,8.2793,8.2793,0.0000,5.83,28.85,28.03,29.00,27.96,0.0296
2000-01-19,290.3,289.6,291.00,287.50,0.0024,3.5,289.52,288.77,289.52,289.52,...,8.2797,8.2797,8.2797,0.0000,5.47,29.54,28.80,29.68,28.55,0.0239
2000-01-20,289.3,290.3,290.70,288.40,-0.0034,2.3,288.62,289.62,288.62,288.62,...,8.2794,8.2794,8.2794,0.0000,5.44,29.66,29.40,29.95,28.80,0.0041
2000-01-21,289.7,289.0,290.30,287.40,0.0014,2.9,289.10,288.60,289.10,289.10,...,8.2795,8.2795,8.2795,0.0000,5.36,28.20,27.85,29.10,27.70,-0.0492
2000-01-22,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,5.36,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2022-12-26,1809.7,1805.8,1811.95,1805.55,0.0030,6.4,1797.61,1798.57,1798.78,1798.04,...,6.9905,6.9906,6.9584,-0.0039,NaN,80.97,79.92,81.06,79.92,0.0205
2022-12-27,1823.1,1808.2,1841.90,1808.00,0.0074,33.9,1813.93,1796.67,1833.39,1796.20,...,6.9629,6.9684,6.9490,-0.0001,4.33,79.77,80.97,81.17,79.17,-0.0148
2022-12-28,1815.8,1822.4,1822.80,1804.20,-0.0040,18.6,1804.09,1814.00,1815.18,1796.56,...,6.9630,6.9787,6.9616,0.0025,4.33,78.60,79.75,79.88,77.33,-0.0147
2022-12-29,1826.0,1812.3,1827.30,1811.20,0.0056,16.1,1814.89,1804.16,1820.52,1802.02,...,6.9805,6.9814,6.9611,-0.0021,4.33,78.61,78.61,78.83,76.81,0.0001
2022-12-30,1826.2,1821.8,1832.40,1819.80,0.0001,12.6,1824.40,1815.14,1826.73,1809.84,...,6.9595,6.9618,6.8931,-0.0094,4.33,80.47,78.59,80.57,77.72,0.0237

In [50]:
nw_df_merge = (df_merge 
                .dropna(axis=0)
)
index= nw_df_merge.index
index

DatetimeIndex(['2001-01-18', '2001-01-19', '2001-01-22', '2001-01-23',
               '2001-01-24', '2001-01-25', '2001-01-26', '2001-01-29',
               '2001-01-30', '2001-01-31',
               ...
               '2022-12-16', '2022-12-19', '2022-12-20', '2022-12-21',
               '2022-12-22', '2022-12-23', '2022-12-27', '2022-12-28',
               '2022-12-29', '2022-12-30'],
              dtype='datetime64[ns]', length=5484, freq=None)

In [56]:
def record_excel(df, sheet_name):
    df = df.loc[index, :]
    df.to_excel(wf, sheet_name=sheet_name)

In [57]:
filename = "combine_data.xlsx"
for temp_df, name in zip(dfs, sheet_name):
    if not os.path.exists(filename):
        with pd.ExcelWriter(filename, mode='w', engine='openpyxl') as wf:
            record_excel(temp_df, name)
    else:
        with pd.ExcelWriter(filename, mode='a', engine='openpyxl') as wf:
            record_excel(temp_df, name)

In [11]:
df = pd.read_excel(r"spot_future.xlsx", index_col=0, sheet_name=['future', 'spot'], na_values=['-'])
df_future = df['future']
df_spot = df['spot']

In [12]:
nw_df = pd.merge(df_spot, df_future, left_index=True, right_index=True).dropna(axis=0)
nw_df

              Price    Adj Close
Date
2022-12-30  1824.40  1819.699951
2022-12-29  1814.89  1819.500000
2022-12-28  1804.09  1807.900024
2022-12-27  1813.93  1814.800049
2022-12-23  1797.91  1795.900024
...             ...          ...
2000-09-06   274.45   274.200012
2000-09-05   275.55   275.799988
2000-09-01   276.85   277.000000
2000-08-31   277.75   278.299988
2000-08-30   274.25   273.899994

[5605 rows x 2 columns]

In [14]:
with pd.ExcelWriter(r"spot_future.xlsx", engine='openpyxl', mode='a') as wf:
    nw_df.to_excel(wf, sheet_name='future_spot')

In [5]:
import subprocess

In [15]:
subprocess.Popen(r"spot_future.xlsx", shell=True)

## Select the relevant years for cost of arbitrage calculated

In [7]:
highlow = pd.read_excel(r"gold_future_price.xlsx", index_col=0)
highlow

             Price    Open     High      Low     Vol.  Change %  High - Low($)
Date
2022-12-30  1826.2  1821.8  1832.40  1819.80  107.50K    0.0001           12.6
2022-12-29  1826.0  1812.3  1827.30  1811.20  105.99K    0.0056           16.1
2022-12-28  1815.8  1822.4  1822.80  1804.20  118.08K   -0.0040           18.6
2022-12-27  1823.1  1808.2  1841.90  1808.00  159.62K    0.0074           33.9
2022-12-26  1809.7  1805.8  1811.95  1805.55      NaN    0.0030            6.4
...            ...     ...      ...      ...      ...       ...            ...
2000-01-24   288.1   289.7   289.70   286.30   32.14K   -0.0055            3.4
2000-01-21   289.7   289.0   290.30   287.40   25.73K    0.0014            2.9
2000-01-20   289.3   290.3   290.70   288.40   20.71K   -0.0034            2.3
2000-01-19   290.3   289.6   291.00   287.50   24.10K    0.0024            3.5
2000-01-18   289.6   286.1   289.80   285.90   28.62K    0.0165            3.9

[5867 rows x 7 columns]

In [8]:
relevant_highlow = highlow.loc[nw_df.index, ['High - Low($)']]

In [9]:
relevant_highlow.to_clipboard(excel=True)