In [1]:
import pandas as pd 
import numpy as np 
from data import get_data

In [2]:
def unit_converter(value):
    units = {
        "K": 10 ** 3
    }
    return [float(v[:-1]) * units[v[-1]] for v in value]

In [3]:
df = get_data("trading volume", "", [""])

In [4]:
vol = df.apply(lambda x: unit_converter(x))

In [10]:
future_spot = pd.read_excel(r"C:\Users\USER\Python Programme\uni\fe_assignment\spot_future.xlsx", sheet_name="deviation and cost", index_col= 0, parse_dates=True).iloc[:, :7]
future_spot

,Spot,Future,Risk Free,Cost of Carry,Deviation,Roll's Spread,Volatility($)
Dates,,,,,,,
2001-01-24,264.95,264.6,5.33,268.504085,3.904085,0.200,0.016413
2001-01-25,264.95,264.8,5.29,268.477236,3.677236,1.131,0.015630
2001-01-26,263.05,262.9,5.29,266.551942,3.651942,2.432,0.015591
2001-01-29,263.15,262.8,5.32,266.673273,3.873273,2.404,0.015472
2001-01-30,265.85,268.0,5.24,269.355546,1.355546,0.605,0.015955
...,...,...,...,...,...,...,...
2022-12-23,1797.91,1804.2,3.75,1814.844663,10.644663,23.868,0.200227
2022-12-27,1813.93,1823.1,3.84,1831.427582,8.327582,15.227,0.195709
2022-12-28,1804.09,1815.8,3.88,1821.674822,5.874822,21.068,0.193090
2022-12-29,1814.89,1826.0,3.83,1832.351033,6.351033,19.656,0.185954
2022-12-30,1824.40,1826.2,3.88,1842.182787,15.982787,21.583,0.181861

In [26]:
vol_dollar = vol.sort_index(ascending=True).mul(future_spot['Spot'], axis=0)
vol_dollar

                   Vol.
2000-01-18          NaN
2000-01-19          NaN
2000-01-20          NaN
2000-01-21          NaN
2000-01-24          NaN
...                 ...
2022-12-23  189607588.6
2022-12-27  289539506.6
2022-12-28  213026947.2
2022-12-29  192360191.1
2022-12-30  196123000.0

[5862 rows x 1 columns]

In [29]:
future_spot.merge(vol_dollar, left_index=True, right_index=True).dropna(axis=0).to_clipboard(excel=True)

In [3]:
df = pd.read_excel(r"C:\Users\USER\Python Programme\uni\fe_assignment\spot_future.xlsx", sheet_name="test model", index_col=0, parse_dates=True)
df

,ln_spread,ln_var,ln_vol,ln_spread^2,ln_var^2,ln_vol^2,ln_spread * ln_var,ln_spread * ln_vol,ln_var * ln_vol
ln_de,,,,,,,,,
1.362024,-1.609438,-4.109667,15.415285,2.590290,16.889362,237.631013,6.614254,-24.809944,-63.351687
1.302161,0.123102,-4.158570,16.185136,0.015154,17.293707,261.958615,-0.511929,1.992426,-67.307023
1.295259,0.888714,-4.161041,15.527000,0.789813,17.314259,241.087728,-3.697975,13.799062,-64.608478
1.354100,0.877134,-4.168746,15.220674,0.769364,17.378442,231.668921,-3.656549,13.350571,-63.451123
0.304204,-0.502527,-4.137970,15.513062,0.252533,17.122798,240.655084,2.079441,-7.795730,-64.192589
...,...,...,...,...,...,...,...,...,...
2.365059,3.172539,-1.608306,19.060467,10.065001,2.586647,363.301409,-5.102412,60.470069,-30.655058
2.119573,2.723070,-1.631129,19.483802,7.415111,2.660581,379.618552,-4.441678,53.055761,-31.780589
1.770676,3.047755,-1.644597,19.176929,9.288812,2.704699,367.754615,-5.012329,58.446588,-31.538316
1.848617,2.978383,-1.682256,19.074880,8.870763,2.829984,363.851053,-5.010401,56.812292,-32.088827
2.771512,3.071906,-1.704514,19.094253,9.436606,2.905368,364.590481,-5.236107,58.655748,-32.546421

In [14]:
nw_df = df.dropna(axis=0)
nw_df.to_clipboard(excel=True)